<div style="margin-left: 10px;">

<p id="notice"><%= notice %></p>

<h1>Buses Nearby:</h1>

<p>Enter your address or approximate location to find a bus in your vicinity.</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>

</div>